<!DOCTYPE html>
<html>
  <head>
    <title>Bitstamp Data Projection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//js.pusher.com/3.2/pusher.min.js"></script>
    <script type="text/javascript">
      /*
          Connecting to Bitstamps pusher feed
      */
      var pusher = new Pusher('de504dc5763aeef9ff52');
      var channel = pusher.subscribe('live_trades');
      i=0
      // Displaying messages
      channel.bind('trade', function(data) {
        console.log(data);
        var type;
        if (data.type == 0) {
          type = 'Bought';
          document.getElementById('ttype').innerHTML = type;
        } else {
          type = 'Sold';
          document.getElementById('ttype').innerHTML = type;
        }
        document.getElementById('price').innerHTML = data.price;
        document.getElementById('btc').innerHTML = data.amount;

        var para = document.createElement("p");
        var node = document.createTextNode("Trade ID = "+data.id+"    ||    "+data.amount+" BTC "+type+" for $"+data.price+" per BTC, $"+data.price*data.amount+" total");
        para.appendChild(node);
        var element = document.getElementById("archive");
        element.appendChild(para);
      });
    </script>
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Bitstamp API util</h1>
        </div>   
        <br /> 

        <div class="col-sm-3">
          <div class="well well-lg">
          <h1>Data</h1>
          <h4>slight formatting applied</h4>
          <li>Last price: ${{ data["last"] }}</li>
          <li>Time: {{ bfDate }}</li>
          <li>Bid price: ${{ data["bid"]}}</li>
          <li>Ask price: ${{ data["ask"]}}</li>
          <li>Volume traded last 24 hours: {{ data["volume"] }} BTC</li>
          <li>VWAP: ${{data["vwap"]}}</li>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well well-lg">
          <h3>Another data</h3>
          <h4>raw json strip</h4>
          {% for key in data %}
              <li>{{ key }}: {{ data[key] }}</li>
          {% endfor %}
          </div>
        </div>

        <div class="col-sm-3">
          <h2>Select Parameters</h2>
          <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" >
            Select here...
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="{{ request.url_root }}btcusd/">BTC / USD</a></li>
              <li><a href="{{ request.url_root }}btceur/">BTC / EUR</a></li>
              <li><a href="{{ request.url_root }}eurusd/">EUR / USD</a></li>
            </ul>
          </button>
          <br />
        </div>

        <div class="col-sm-3">
          <h4>Last price: </h4><p id=price>Waiting for trade ...</p>
          <h4>Trade type: </h4><p id=ttype>Waiting for trade ...</p>
          <h4>Bitcoin amount: </h4><p id=btc>Waiting for trade ...</p>
        </div>
        <div class="col-sm-12" id="archive">
          <h3>Archive</h3>
        </div>
      </div>
    </div>
</html>